 /* RESET 
------------------------ */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }
  
  body {
  	line-height: 1;
  }
  
  ol, ul {
  	list-style: none;
  }
  
  blockquote, q {
  	quotes: none;
  }
  
  blockquote:before, blockquote:after,
  
  q:before, q:after {
  	content: '';
  	content: none;
  }
  
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }
  
  .clear {
	clear: both;
  }

  /* General
  ------------------------ */
  body {
	font-family: 'Arial Black', Gadget, sans-serif;
  }


  hr {
	margin-bottom: -5px;
	height: 3px;
	background-color: #E5E4E2;
	border: none;		
  } 

  .small {
	line-height: 17px;
  }
 
  section {
	background-color : transparent;
	width: 90%;
	margin: 10px auto;
	padding: 0 0 0 0;
  }

  section h2 {
	font-size: 1.6em;
	font-weight: 900;
	color: #87D300;
	padding: 15px 0 15px 5px;
  }
  
  section img.arrow {
	margin: 10px 20px 0 0;
	width: 12px;
	display: block;
	float: right;
  }

  section img.Vegetarian {
	padding-left: 5px;
	height: 12px; 
	width:  60px; 
	display: inline;
  }

  section .slider {
	padding: 0;
	background-color : transparent;
	display: none;
  }

  section .slider .menu-item {
	padding: 5px 20px;
  }

  section .slider h3 {
	color: #FF7300;
	font-size: 1em;
	font-weight: bold;
	margin: 0px 0px 1px;
  }

  section .slider p,
   section .slider li {
	color: #222;
	font-size: .8em;
	font-weight: 200;
	line-height: 1.2em;
	margin-bottom: 10px;
  }
  
  section .slider p.note {
	color: #666666;
	margin-top: -8px;
	font-style: italic;
	font-size: .7em
  }
  
  section .slider ul {
	margin-top: -5px;
	margin-bottom: -13px;
  }
  
  section .slider li {
	line-height: 1em;
	margin-bottom: 5px;
  }

  section .slider li p {
      display: inline;
      color: #666666;
      font-style: italic;
      font-size: .7em;
  }
/* Ribbon
  ------------------------ */
.button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  background: #00AEDD;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button a:hover, a:visited, a:link, a:active{
    color: #FFF;
    text-decoration: none;

.button:hover {
  text-decoration: none;
}
 
