/* Hard reset
-------------------------------------------------- */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
audio,
video {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Prevents iOS text size adjust after orientation change, without disabling (Thanks to @necolas) */
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* Base styles
-------------------------------------------------- */
body {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: small;
  line-height: 1.4;
}
p {
  margin: 0;
}
/* Universal link styling */
a {
  color: #0882f0;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Removes the dark touch outlines on links */
}

/* Hack to force all relatively and absolutely positioned elements still render while scrolling
   Note: This is a bug for "-webkit-overflow-scrolling: touch" */
.content > * {
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

/* Pad top/bottom of content so it doesn't hide behind .bar-title and .bar-tab.
   Note: For these to work, content must come after both bars in the markup */
.bar-title ~ .content {
  top: 44px;
}
.bar-tab ~ .content {
  bottom: 51px;
}
.bar-header-secondary ~ .content {
  top: 88px;
}

/* Allergen formating */
p.vegan {
  background-color: #00AEDD;
  font-weight: bold;
  color: #FFF;
  padding-left: 2px;
  padding-right: 2px;
}
p.milk {
  background-color: #CCCC99;
  font-weight: bold;
  color: #FFF;
  padding-left: 2px;
  padding-right: 2px;
}
p.gluten {
  background-color: #CCC;
  font-weight: bold;
  color: #FFF;
  padding-left: 2px;
  padding-right: 2px;
}
/* Title bar
-------------------------------------------------- */
/* Bar docked to top of viewport for showing page title and actions */
.bar-title {
  top: 0;
  display: -webkit-box;
  display: box;
  background-color: #FFFFFF;
  background-image: -webkit-linear-gradient(top, #FFFFFF 0, #FFFFFF0 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0, #FFFFFF 100%);
  border-bottom: 1px solid #6CA800;
  box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
  -webkit-box-orient: horizontal;
          box-orient: horizontal;
}

/* Centered text in the .bar-title */
.bar-title .title {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 44px;
  color: #000;
  text-align: center;
  white-space: nowrap;
}

.bar-title > a:not([class*="button"]) {
  display: block;
  width: 100%;
  height: 100%;
}

/* Retain specified title color */
.bar-title .title a {
  color: inherit;
}

/* Buttons in title bars
-------------------------------------------------- */
/* Generic style for all buttons in .bar-title */
.bar-title [class*="button"] {
  position: relative;
  z-index: 10; /* Places buttons over full width title */
  font-size: 12px;
  line-height: 23px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  background-color: #393939;
  background-image: -webkit-linear-gradient(top, #79BD00 0, #87D300 100%);
  background-image: linear-gradient(to bottom, #79BD00 0, #87D300 100%);
  border: 1px solid #79BD00;
  box-shadow: 0 1px rgba(255, 255, 255, .25);
  -webkit-box-flex: 0;
          box-flex: 0;
}


/* Override standard button active states */
.bar-title .button:active {
  color: #fff;
  background-color: #87D300;
}

/* General button styles
-------------------------------------------------- */

[class*="button"] {
  position: relative;
  display: inline-block;
  padding: 4px 12px;
  margin: 5px;
  font-weight: bold;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  vertical-align: top;
  cursor: pointer;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8 0, #d4d4d4 100%);
  background-image: linear-gradient(to bottom, #f8f8f8 0, #d4d4d4 100%);
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .4), 0 1px 2px rgba(0, 0, 0, .05);
}

/* Active */
[class*="button"]:active {
  padding-top: 5px;
  padding-bottom: 3px;
  color: #333;
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}


/* Table Properties
-------------------------------------------------- */
.performance-facts {
  border: 1px solid #000;
  margin: 20px;
  float: left;
  width: auto;
  padding: 0.5rem;
}
.performance-facts table {
  border-collapse: collapse;
}
.performance-facts__title {
  font-weight: bold;
  font-size: 22px;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
}
.performance-facts__header p {
  margin: 0;
}
.performance-facts__table,
.performance-facts__table--small,
.performance-facts__table--grid {
  width: 100%;
}
.performance-facts__table thead tr th,
.performance-facts__table--small thead tr th,
.performance-facts__table--grid thead tr th,
.performance-facts__table thead tr td,
.performance-facts__table--small thead tr td,
.performance-facts__table--grid thead tr td {
  border: 0;
}
.performance-facts__table th,
.performance-facts__table--small th,
.performance-facts__table--grid th,
.performance-facts__table td,
.performance-facts__table--small td,
.performance-facts__table--grid td {
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  border-top: 1px solid #000;
  white-space: nowrap;
}
.performance-facts__table td:last-child,
.performance-facts__table--small td:last-child,
.performance-facts__table--grid td:last-child {
  text-align: right;
}
.performance-facts__table .blank-cell,
.performance-facts__table--small .blank-cell,
.performance-facts__table--grid .blank-cell {
  width: 1rem;
  border-top: 0;
}
.performance-facts__table .thick-row th,
.performance-facts__table--small .thick-row th,
.performance-facts__table--grid .thick-row th,
.performance-facts__table .thick-row td,
.performance-facts__table--small .thick-row td,
.performance-facts__table--grid .thick-row td {
  border-top-width: 5px;
}
.small-info {
  font-size: 0.7rem;
}
.performance-facts__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--small thead tr {
  border-bottom: 1px solid #000;
}
.performance-facts__table--small td:last-child {
  text-align: left;
}
.performance-facts__table--small th,
.performance-facts__table--small td {
  border: 0;
  padding: 0;
}
.performance-facts__table--grid {
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--grid td:last-child {
  text-align: left;
}
.performance-facts__table--grid td:last-child::before {
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}
.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 5px solid #000;
}
.thin-end {
  border-bottom: 1px solid #000;
}

